
* {
    box-sizing: border-box;
}

body {
    background-image:  url("img/Achtergrond1900.jpg");
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Libre Baskerville', serif;
    margin:0;
    padding:0;
}

img#fotodouwe  {
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
    border-style:solid;
    border-color: white;
}
h3, h2{
    color: black;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 1px;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;

    position: fixed;
    bottom: 0;
    width: 100%;
}
li {
    display: block;
    width: 18%;
    float: left;
    padding: 0;
    margin: 0 0 0 5.6%;
}
li a {
    width: 100%;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



section.Overmij1 {
    padding: 0 100px;
    min-heigt: 100vh;
    display: flex;
    align-items: center;
    color: white;
}
section.Portfolio1 {
    padding: 0 100px;
    min-heigt: 100vh;
    display: flex;
    align-items: center;
    color: white;
}
.box1{
    position: center;
    max-width: 850px;
    padding: 20px;
    background: rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,1.1);
    margin-right: auto;
    margin-left: auto;
    color: #e8eded;
    /*border: red solid 2px;*/
}
.box2{
    position: center;
    max-width: 850px;
    padding: 20px;
    background: rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,1.1);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    color: #e8eded;
}
.box3{
    position: center;
    max-width: 850px;
    padding: 20px;
    background: rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,1.1);
    margin-right: auto;
    margin-left: auto;

}
/*Box*/

/* letter type overmij */
.box1 h2 {
    margin: 0 0 0;
    padding: 0;
    font-size: 42px;
    text-transform: uppercase;
    color: floralwhite;
}
.OvermijH3 {
    margin-right: 275px;
    color: #e8eded;
}
/* letter type overmij */

/*Sections over mij */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 300px 300px;
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}
.zero {
    grid-column: span 3;
}
.one {
    grid-column: 1 / span 2;
}
.two {

}
.three {

}
.four, .five {
    grid-column: span 2;
}
.test {
    grid-column: span 3;
}
.flex-item {
    /*border: 1px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item > * {
    text-align: center;
}
/* einde sections box over mij */


/* Portfolio hover boxes */
.container {
    width: 90%;
    padding: 10px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    text-align: center;

}
.boxPortfolio {
    width: 250px;
    height: 300px;
    background: rgba(128,128,128,.5);
    margin: 10px 15px;
    padding: 10px;
    transition: 1s;
    border-radius: 5%;

}
.boxPortfolio:hover {
    transform:scale(1.2);
    background: rgba(128,128,128,.5);
    /*box-shadow: 2px 2px 2px rgba(128,128,128,.6);*/
    z-index: 2;
}
.javaImg,.htmlImg,.toekomstigImg {
    margin-top: 10px;
    margin-bottom: 2px;
}
/* Einde portfolio hover boxes */


/* Contact pagina */
.Contact {
    position: relative;
    min-height: 100vh;
    padding: 25px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Contact .content {
    max-width: 800px;
    text-align: center;
}
.Contact .content h2 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.Contact .content p {
    font-weight: 300;
    color: #fff;
}
.containerContact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerContact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerContact .contactInfo .boxContact {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerContact .contactInfo .boxContact .iconContact {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.iconContact {
    margin-top: 25px;
}
.containerContact .contactInfo .boxContact .textContact {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    text-align: left;
}
.containerContact .contactInfo .boxContact .textContact h3 {
    font-weight: 500;
    color: #00bcd4;
    margin-bottom: 1px;
    text-align: left;
}
.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox  span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span, .contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span {
    color: #00bcd4;
    font-size: 12px;
    transform: translateY(-20px);
}
/* Einde Contact pagina */






li a:hover {
    background-color: #0099cc;
}

.active {
    background: cyan;
}

.contact {
    margin-right: 5.6%;
}